* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.row-header {
    margin: 0px auto;
    padding: 0px 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;    
    min-height: 500px;
}

.footer {
    background-color: #7092be;
    margin: 0px auto;
    padding: 20px 0px;
    text-decoration: none;
    color: floralwhite;
}

.jumbotron {
    margin: 0px auto;
    padding: 50px 0px;
    background: #d2eff9;
    color: black;
}

.navbar-dark {
    background-color: #7092be;
    color: floralwhite;
}

.carousel {	
    background: #7092be;    
}

/*.carousel > div p, h2 {
	color: black;        
}*/

.carousel img {
    height: 300px;
    width: 300px;
}

.carousel .carousel-item {
	color: black;
    height: 300px;
}

.carousel .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.none {
	text-decoration: none;
    color: floralwhite;
}

.none:hover {
	text-decoration: none;
	border-bottom: 2px solid;
}

.wbtn {
	min-width: 250px;
}

